@import 'theme-color';
@import 'variable';
@import 'responsive';

.button {
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 0 .7em 0 .7em;
}

button {
  outline: none !important;
  border: none;
}

.button-dark {
  background-color: $mainColor;
  color: $lightColor;
}

.button-light {
  background-color: $lightColor;
  color: $mainColor;
}

.text-light {
  color: $lightColor;
}

.text-dark {
  color: $mainColor;
}

.bg-dark {
  background-color: $mainColor;
  color: $lightColor !important;
}

.bg-light {
  background-color: $lightColor;
  color: $mainColor;
}

.bg-purple {
  background-color: $secondColor;
  color: $whiteColor;
}

.loading {
  width: 30px;
  height: 30px;
  border: 4px solid $gray;
  border-top: 4px solid $secondColor;
  border-radius: 50%;
  animation: loading 1s infinite linear;

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.wrap-modal {
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  opacity: 0;

  .box {
    scale: .9;
    opacity: 0;
    width: 40%;
    background-color: $whiteColor;
    color: $mainColor;

    .button {
      padding: 0;

      button {
        border-radius: 8px;
        border: none;
        box-shadow: 0 0 8px rgba(0, 0, 0, .2);
      }
    }

    input {
      width: 100%;
      padding: .5em;
      outline: none;
      font-size: 14px;
      border: 1px solid rgba($color: $mainColor, $alpha: .2);
      box-shadow: 0 0 0 rgba($color: $secondColor, $alpha: .4);
      transition: .5s;
      user-select: none;

      &:focus {
        border: 1px solid $secondColor;
        box-shadow: 0 3px 0 rgba($color: $secondColor, $alpha: .4);
      }
    }

    .img {
      width: 148px;
      height: 148px;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $gray;
      background-position: center;
      border-radius: 50%;
      position: relative;
      user-select: none;
      -moz-user-select: none;
      cursor: pointer;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover .shadow {
        opacity: 1;
      }

      .shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, .3);
        color: $gray;
        opacity: 0;
        transition: .6s;
      }
    }

    @media #{$breakpoint-xs} {
      width: 100%;
    }
  }
}

@each $name,
$point in $pointRounded {
  .button-rounded-#{$name} {
    border-radius: $point;
  }
}

@each $name,
$value in $sizeButtonPercent {
  .button-width-#{$name} {
    width: $value;
  }
}

@each $name,
$value in $sizeButtonPixel {
  .button-width-#{$name} {
    width: $value;
  }
}